.scrollup{
    width:40px;
    height:40px;			
    text-indent:-9999px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:25px;
    display:none;			
    background: url('../img/icon_top.png') no-repeat;
}

.error-msg{
    color:#b94a48;
}